*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
}

:root {
    --brand-green: hsl(158, 36%, 37%);
    --darker-brand-green:hsl(158, 41%, 18%);
    --main-text-black: hsl(212, 21%, 14%);
    --brand-grey: hsl(228, 12%, 48%);
    --background-cream: hsl(30, 38%, 92%);
}

@font-face {
    font-family: 'Fraunces';
    src: url("assets/fonts/Fraunces/Fraunces-VariableFont_SOFT_WONK_opsz_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    height: 100vh;
    background-color: var(--background-cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--brand-green);
    color: white;
    border: 0rem;
    height: 3rem;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--darker-brand-green);
}

.container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    height: 20rem;
}
    
.product-image img {
    height: 25rem;
    object-fit:cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.product-information {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 21rem;
    width: 18rem;
    padding: 2rem;
    border-width: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--main-text-black);
    font-family: 'Montserrat';
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
}

.current-price {
    color: var(--brand-green);
    font-size: 2rem;
}