*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
}

:root {
    --brand-green: hsl(158, 36%, 37%);
    --darker-brand-green:hsl(158, 41%, 18%);
    --main-text-black: hsl(212, 21%, 14%);
    --brand-grey: hsl(228, 12%, 48%);
    --background-cream: hsl(30, 38%, 92%);
}

@font-face {
    font-family: 'Fraunces';
    font-weight: 700;
    src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT_WONK_opsz_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500, 700;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    height: 100vh;
    background-color: var(--background-cream);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

button {
    background-color: var(--brand-green);
    color: white;
    border: 0rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 1.1rem;
}

button:hover {
    background-color: var(--darker-brand-green);
}

.container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    height: 20rem;
}

.category {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0rem;
}

.product-name {
    font-family: 'Fraunces';
    font-size: 1.8rem;
    line-height: 1.8rem;
}
    
.product-image img {
    height: 25rem;
    object-fit:cover;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.product-information {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 22.15rem;
    width: 13rem;
    padding: 1.4rem;
    border-width: 0rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    color: var(--main-text-black);
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 1.3rem;
}

.original-price {
    text-decoration:line-through;
    color: var(--brand-grey);
    font-size: 0.6rem;
}

.current-price {
    color: var(--brand-green);
    font-size: 1.8rem;
    font-family: 'Fraunces';
    margin-right: 1rem;
}

.button-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shopping {
    margin-right: 0.5rem;
}